.HomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeTitle {
  font-weight: 700;
  color: #034c5f;
  margin: 30px 0;
  text-decoration: none;
}

.MovieLink {
  text-decoration: none;
}
